body {
  background: linear-gradient(110deg, #3b3b3a 60%, #1d1d1c 60%);
  transition: all 0.5s ease-in-out;
}

div:hover li:not(:hover) {
  filter: blur(2px);
}

.nav-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: orange;
  display: flex;
  flex-wrap: wrap;
  z-index: 1000;
}

.nav-main h2 {
  font-family: Arial, Helvetica, sans-serif;
  padding-left: 45%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

div {
  display: inline-block;
}
.btn-toggle-nav {
  width: 60px;
  height: 100%;
  background-image: url("hamburger/icoontje1.png");
  background-attachment: no-repeat;
  background-color: orange;
  background-size: 100%;
  background-position: center;
  cursor: pointer;
  z-index: 1000;
}

.btn-toggle-nav:hover {
  opacity: 0.5;
}

.search-wrapper {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  gap: 0.25rem;
  margin-right: 1rem;
  margin-top: 1rem;
}

input {
  font-size: 1rem;
  border-radius: 5px;
  border: 0;
}

.nav-main ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}

.nav-main ul li {
  list-style: none;
  line-height: 60px;
}

.nav-main ul li a {
  display: block;
  height: 100%;
  padding: 0 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: #111;
  font-family: arial;
  font-size: 16px;
}

.nav-sidebar {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 50px;
  height: calc(100vh - 60px);
  padding: 0 5px;
  background-color: #1b1b1b;
  z-index: 1000;
  transition: all 0.3s ease-in-out;
  opacity: 90%;
}

.nav-sidebar ul {
  padding-top: 15px;
  overflow: hidden;
  visibility: hidden;
}
.nav-sidebar ul li {
  line-height: 60px;
  list-style: none;
}

.nav-sidebar ul li a {
  display: block;
  height: 60px;
  padding: 0 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  white-space: nowrap;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.nav-sidebar ul li :hover {
  background-color: orange;
}

.film_location {
  margin: 0;
  padding: 10%;
  list-style: none;
}

.film_location div {
  display: flex;
  flex-wrap: wrap;
}

.film_location div li {
  padding: 10px;
  transition: all 0.3s ease-in-out;
  perspective: 1000px;
}

.film_location div li:hover {
  transform: scale(1.1);
}

footer {
  height: 30px;
  width: 100%;
  background-image: none;
  background-repeat: repeat;
  background-attachment: scroll;
  background-position: 0% 0%;
  position: fixed;
  bottom: 0pt;
  left: 0pt;
  z-index: 1000;
}

.footer_contents {
  width: 100%;
  margin: auto;
  height: 60px;
  background-color: orange;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 10px;
  font-size: xx-small;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}
